/* Home Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Nav-bar */
.nav-item a:hover {
    border: solid 1px white;
    border-radius: 3px;
    background-color: white;
}

.nav-link {
    color: #14A2B8;
}

.purple {
    color: #10374A;
}

/* jumbotron */
.jumbotron-text {
    max-width: 50%;
    color: white;
}

@Media (max-width:576px) {
    .jumbotron-text {
        max-width: 100%;
    }
}

.criteria {
    background-color: white;
    color: #14A2B8;
}

.btn a:hover{
    text-decoration: none;
    color:  #14A2B8;
}


/* body */
h2 {
    text-align: center;
}

p {
    text-align: justify;
}

.container h1 {
    color: white;
}

hr {
    border-top: 2px solid #14A2B8;
}

/* Home page ends */

/* success.html styling */
.congratulations {
    padding-top: 50px;
}

h1,
h4 {
    text-align: center;
}

.icon {
    text-align: center;
}

.success {
    margin-top: 200px;
}

/*******************************************
Forms Page CSS Begins
******************************************/
#heading {
    text-align: center;
    margin-top: 30px;
   }

.control {
    width: 90%;
     height: 50px;
     margin-left: 30px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}
 branch
.control1{
    margin-left:40px;
}
label{
    margin-left:30px ;
    margin-bottom: 20px;
  }
#text{
    width: 200px;
}

h3{
    margin-top: 150px;
    }
.form{
    padding: 20px;
    width: 100%;
    border:1px solid;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.step{
    margin-top: 50px;
}

textarea {
    width:80%;
    height: 100px;
}

branch
.button1{
    width: 100px;
    margin-left: 250px;
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color:#10374A;
    color:#fff;
    
}
.button1:hover{
color: #D3D3D3;

}

/*******************************************
Forms Page CSS Ends
******************************************/
/* Grant Session */

.jumbotron-horn {

    color: #ffffff;
}

.btn {
    background-color: #10374A;
    ;
    color: #ffffff;
}

.container-title {
    margin: 40px;
    font-weight: 600;
    color: #10374A;
}

.btn:hover {
    color: grey;
}

.bg-purple {
    background-color: #14A2B8 !important;
    color: #FFF;
}

.bg-red {
    background-color: #ff2d55 !important;
    color: #FFF;
}

.card-title {
    font-weight: 600;
}

.breadcrumb {
    background-color: #14A2B8 !important;

}

.breadcrumb-item a {
    color: white;
    text-decoration: none;
}
 

