/* Home Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Nav-bar */
.nav-item a:hover {
border: solid 1px  #14A2B8;
border-radius: 5px;
background-color:  #14A2B8;
} 
.nav-link:hover {
    color: white;
}
 .nav-link{
     color: #14A2B8;
 }
/* jumbotron */
.jumbotron-text {
    max-width: 50%;
    color: white;
}
@Media (max-width:576px){
.jumbotron-text {
    max-width: 100%;
}
 }

.criteria{
    background-color: white;
    color: #14A2B8 ;
}
.text-info:hover{
    text-decoration: none;
}
/* body */
h2 {
    text-align: center;
}
p {
    text-align: justify;
}
.container h1{
    color: white;
}
hr {
border-top: 2px solid #14A2B8;
}
/* Home page ends */

/* success.html styling */
.congratulations{
    padding-top: 50px;
}

h1, h4 {
    text-align: center;
}
.icon{
    text-align: center;
}
.success{
    margin-top: 200px;
}


